body {
            background-color: rgb(1, 255, 255);
        }

a form {
            display: inline-block;
            margin-left: 28vw;
        }

        a:hover,
        i:hover {
            background-color: red;
        }

        header {
            position: fixed;
            width: 100vw;
            height: 85.2px;
            background-color: rgb(0, 177, 255);
            float: right;
            display: block;
            margin-top: -123px;
        }

        header h1 {
            width: 81vw;
            font-size: 8vh;
            color: white;
            display: inline-block;
            margin-left: 25px;
            margin-top: 20px;
        }

        main > a {
            display: block;
            background-color: rgb(1, 254, 171);
            width: 100vw;
            padding: 7.5px 0;
            margin-top: 20vh;
            font-size: 85px;
        }

        header i {
            display: block;
            background-color: rgb(0, 255, 1);
            color: black;
            width: 13.863vw;
            height: 13.863vh;
            text-align: center;
        }

        .fa.fa-arrow-left{
            font-size: 84px;
        }

.rec {
    position: fixed;
    background-color: red;
    bottom: 4vh;
    right: 4vw;
    width: 15vw;
    aspect-ratio: 1;
    line-height: 15vw;
    font-size: 9vw;
    border-radius: 50%;
    text-align: center;
}

.rec i {
    color: black;
}

.rec:hover, .rec a:hover {
    background-color: green;
}
